html, body {
    background-color: white;
    font-family: "HelveticaNeue", sans-serif;
    place-items: center;
    text-align: center;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}
  
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.center {
    margin: auto;
    display: block;
    width: 10%;
}

* {
    margin: 0;
    padding: 0;
}

svg{
    display: block;
    margin: auto;
}

/* play button */
#play-button {
  background: #f08080;
  padding-right: 26px;
  border-radius: 3px;
  border: none;
  color: white;
  margin: 0;
  padding: 0 12px;
  width: 60px;
  cursor: pointer;
  height: 30px;
}
#play-button:hover {
  background-color: #696969;
}    

.ticks {
  font-size: 10px;
}
.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}
.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}
.track-inset {
  stroke: #dcdcdc;
  stroke-width: 8px;
}
.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: crosshair;
}
.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}

/* slider */
.range{
    padding: 0 400px 0 400px ;
}

.range .field{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    place-items: center;
    height: 100%;
}
.range .field .value{
    position: absolute;
    font-size: 12px;
    color: #04AA6D;
}
.range .field input{
    -webkit-appearance: none;
    height: 3px;
    width: 100%;
    background: #04AA6D;
    border-radius: 5px;
}
.range .sliderValue{
    position: relative;
    width: 100%;
}
.range .sliderValue span{
    position: relative;
    font-size: 18px;
}


